*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0E7A81;
  --secondary-color: #a3d4d7;
  --black--color: #262431;
  --tertiary-color: #2f2c3d;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  border: 2px solid transparent;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-transparent{
  padding: 1.5rem;
  border: 2px solid #bce3e5;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  background: transparent;
  color: #333;

}

.active {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}


/* NavBar */

.header {
  background-color: #a3d4d7;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 1rem 2rem;
  transition: background-color 0.3 ease-in-out;
}

.header .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo{
    display: flex;
    flex-direction: row;
    gap: .4rem;
    align-items: center;
}

.navbar-logo img{
    height: 25px;
}
.navbar-logo h2{
    font-size: 2rem;
}

.navbar-menu-items .navbar-menu-list{
    margin-left: -75px;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    color: var(--tertiary-color);
}

.navbar-menu-list .navbar-menu-item .navbar-menu-link{
    color: var(--tertiary-color);
    font-size: 1rem;
}


.navbar-user i{
    font-size: 24px;
    padding: .7rem;
    border: 1px solid var(--tertiary-color);
    border-radius: 50%;
}

/* Mobile Navbar Design */
  .navbar-mobile-menu{
    display: none;
    cursor: pointer;
  }
  .navbar-mobile-menu-items{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--black--color);
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.1);
    transition: transform 0.3s ease-in-out;
  }

  .navbar-mobile-menu-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
    color: #fff;
  }

  .navbar-mobile-menu-list .navbar-mobile-menu-link{
    color: #fff;
  }

  .navbar-mobile-menu-items {
    transform: translateX(100%);
  }

  .navbar-mobile-menu-items.active{
    transform: translateX(0);
  }

  /* .navbar-mobile-user{
    border: 1px solid #fff;
  } */

  .navbar-menu-link:hover, .navbar-mobile-menu-link:hover {
    color: var(--primary-color);
  }

/* ShowCase */

.showcase{
    text-align: center;
}

.showcase-container{
  padding: 7rem 2rem 2rem;
}

.showcase .showcase-content h4 {
    font-weight: bold;
    color: var(--tertiary-color)
}

.showcase-content h2{
  font-size: 3rem;
  padding: 1rem 12rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.showcase-content .view-btn{
  font-size: 20px;
  border-radius: 10px;
  padding: 1rem 2rem;
}

.showcase-bg-pic{
  height: 450px;
  margin-top: 40px;
}

/* Hero Section */
.hero{
  margin: 2rem 0;
}
.hero-container .hero-content {
  text-align: center;
}

.hero-content .hero-title{
  font-size: 2.5rem;

}

.hero-content .hero-description{
  font-size: 1rem;
  padding: .5rem 10rem;
  color: var(--tertiary-color);
}
.hero-container .btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.card-container {
  margin-top: 2rem;
}

/* Card section */
.card-container .section-title{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.cards-wrapper{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 1rem;
  justify-content: center;
}

.cards{
 width: 100%;
}
.cards-collection{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 5px;
}

.card .card-img {
  height: 160px;
  object-fit: cover;
}

.card-content .card-title {
  font-size: 20px;
}

.card-content {
  border-bottom: 1px solid #c8dbdc;
  padding-bottom: .5rem;
}

.card-list li {
  color: var(--tertiary-color);
  font-size: 14px;
}

.card-list li i {
  margin-right: .5rem;
}

.cards-pic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btn-collection{
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  margin-top: .5rem;
}

.btn-collection button{
  padding: .5rem .8rem;
  border-radius: 5px;
  margin-top: .5rem;
  font-size: 1.1rem;
  color: var(--primary-color);
}

/* Footer */
.footer {
  background: #131313;
  padding: 50px 0;
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-container div .footer-logo{
  display: flex;
  align-items: center;
}

.footer-logo img{
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 5px;
}

.footer-logo h4{
  font-size: 2rem;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-icons li {
  padding: .5rem 0;
}
.social-icons li a i{
  font-size: 2rem;
  color: var(--primary-color);
}

.footer-address p{
  line-height: 1.8;
}

.footer-menu {
  margin-top: 1rem;
}

.footer-menu-items .items-link {
  color: #fff;
  line-height: 1.8;
}

.email {
  padding: .8rem;
  outline: none;
  margin: 1rem 0;
  border-radius: 5px;
}

.btn-subs{
  padding: 0.8rem;
}

.email, .btn-subs {
  width: 100%;
  display: block;
}

/* Media queries */

@media (max-width: 1100px){

}
@media (max-width: 992px){
    
}
@media (max-width: 786px){
    .navbar-menu-items {
        display: none;
    }
    .navbar-user{
        display: none;
    }

    .navbar-mobile-menu{
      display: block;
    }
}
@media (max-width: 576){

}